# Data Science Tools and Ecosystem

## **In this notebook you'll find tools and and an ecosystem for data science**

**Objectives:**
- List popular languages for Data Science
- Data science libraries frequently used
- Data Science Tools

Data scientists frequently use languages such as:
1.  Python
2.  R
3. SQL

Data scientists frequently rely on libraries such as:
1. NumPy
2. Pandas
3. Matplotlib
4. GGplot2

| Data Science Tools|
|------------------|
| Jupyter Notebook|
| RStudio |
| Git |

### Below are a few examples of evaluating arithmetic expressions in Python
 This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
minutos = 200
horas = minutos / 60
print (horas)

3.3333333333333335

## Author:
Rocío Bolaños Gómez